<li>
<%if user.display_feed_image %> 
  <div class="gravatar"><%= image_tag user.display_feed_image%></div>
<%else%>
  <%= gravatar_for user, size: 50 %>
<%end%>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>